.mag {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.container {
    margin-top: 2%;
}

.has-error {
    color: #b71c1c
}

.has-success {
    color: #009688
}

.alert {
    padding: 5px;
    border-radius: 4px;
    color: #fff
}

.alert-danger {
    background: #ef5350;
}

.alert-success {
    background: #009688
}

.fixed-action-btn {
    position: absolute;
    right: 0;
    top: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}