<div class="row show-hide-message">
    <div [ngClass]="MessageClass">
        {{message}}
    </div>
</div>


<div class="row">
    <button class="btn waves-effect red waves-light" *ngIf="!newPost" (click)="newForm()" type="button" name="button">New Post
    <i class="material-icons right">send</i>
</button>
    <button [disabled]="loadingPage" class="btn waves-effect orange waves-light" *ngIf="!newPost" (click)="reloadBlog()" type="submit" name="action">Reload
    <i class="material-icons right">autorenew</i>
</button>
</div>

<!--Blog Form  -->
<br>
<div class="row">
    <form [formGroup]="form" (submit)="onSubmit()" *ngIf="newPost" class="col s12">
        <div class="row">
            <div [ngClass]="{'has-success':form.controls.title.valid,'has-error':form.controls.title.dirty && form.controls.title.errors}" class="input-field col s12">
                <input autocomplete="off" name="title" type="text" formControlName="title" class="validate">
                <label for="title">title</label>
                <ul class="info">
                    <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
                    <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
                    <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumeric">Must be a letter or number</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}" class="input-field col s12">
                <textarea autocomplete="off" name="body" formControlName="body" class="materialize-textarea"></textarea>
                <label for="body">Body</label>
                <ul class="info">
                    <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
                    <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
                </ul>
            </div>
        </div>
        <button [disabled]="processing" class="btn waves-effect red waves-light" (click)="goBack()">Go Back
              <i class="material-icons right">send</i>
            </button>
        <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn waves-effect teal waves-light">Submit
              <i class="material-icons right">send</i>
            </button>
    </form>
</div>

<!--Blog Form  -->

<div *ngIf="!newPost">
    {{username}}
    <div class="row" *ngFor="let blog of allBlogs">
        <div class="col s12 m12">
            <div class="card">

                <div class="card-content">
                    <h3> {{blog.title}}</h3>
                    <p>{{blog.body}}</p>
                </div>
                <div class="card-action">
                    <p><strong>Posted by: </strong>{{blog.createdBy}}</p>
                    <p><strong>Date: </strong>{{blog.createdAt | date: 'MMM dd, yyyy'}}</p>
                    <div *ngIf="username === blog.createdBy">
                        <div class="chip">
                            {{blog.likes}}
                            <i (click)="addLike()" class="mag material-icons">thumb_up</i>
                        </div>
                        <div class="chip">
                            {{blog.dislikes}}
                            <i (click)="addDislike()" class="mag material-icons">thumb_down</i>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="username===blog.createdBy" class="row">
                            <div style="position: relative; height: 70px;">
                                <div class="fixed-action-btn horizontal click-to-toggle">
                                    <a class="btn-floating btn-large blue">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul>

                                        <li><a [routerLink]="['/edit/', blog._id]" class="btn-floating yellow darken-1"><i class="material-icons">create</i></a></li>
                                        <li><a [routerLink]="['/delete/', blog._id]" class="btn-floating red"><i class="material-icons">delete</i></a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>